.component {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--size-8);

  & > .optionsLayout {
    /* stylelint-disable-next-line custom/layout-related-properties */
    flex: 0 0 auto;
  }

  & > .divider {
    /* stylelint-disable-next-line custom/layout-related-properties */
    align-self: stretch;
  }

  & > .gridToggleLayout {
    /* stylelint-disable-next-line custom/layout-related-properties */
    flex: 0 0 auto;
  }
}

.group {
  display: flex;
  align-items: center;
  gap: var(--size-4);
}

.divider {
  border-left: 1px solid color-mix(in srgb, var(--color) 12%, transparent);
}
